run = "npm run dev"
modules = ["nodejs-20", "web", "nix"]

[nix]
channel = "stable-24_05"

[env]
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin:$PATH"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false

[languages]

[languages.typescript]
pattern = "**/{*.ts,*.js,*.tsx,*.jsx}"

[languages.typescript.languageServer]
start = "typescript-language-server --stdio"

[deployment]
deploymentTarget = "static"
publicDir = "dist"

[[ports]]
localPort = 3000
externalPort = 80
